body {
background-color: #FCBF49;
margin: 0px 0px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.Color {
background-color: #FCBF49;
}



/*------------------
	LIST OF IDS
*/

/* Contact Button */
#Contact {
text-align: center;
font-family: 'Inika', serif;
font-weight: 700;
font-size: 20px;
color: #003049;
}

/* First Name */
#Fname {
margin: 0px 0% 0px 39%;
font-family: 'Inika', serif;
font-size: 20px;
color: #003049;

}


/* Last Name */
#LName {
margin: 0px 0% 0px 39%;
font-family: 'Inika', serif;
font-size: 20px;
color: #003049;

}

/* Email */
#Email2 {
margin: 0px 0% 0px 39%;
font-family: 'Inika', serif;
font-size: 20px;
color: #003049;
}





/* Phone */
#Phone {
margin: 0px 0% 0px 39%;
font-family: 'Inika', serif;
font-size: 20px;
color: #003049;

}

#Question {
margin: 75px 10% 0px 30%;
font-size: 25px;
font-family: 'Inika', serif;
font-size: 20px;
color: #003049;


}

#Comment2 {
text-align: center;
}


/* Div for Names */
.Box {
width: 8%;
border: 3px solid #003049;
padding: 5px 50% 5px 0px;
margin: 0px 20%;
background-color: #F77F00;
border-radius: 20px;
}


/* THE SUBMIT BOX */
#EmailBox {
width: 500%;
background-color: #003049;
border: none;
text-align: center;
margin: 0px 100%;
border-radius: 60px;
height: 20px;
color: white;
font-size: 15px;
}

#PhoneBox {
width: 500%;
background-color: #003049;
border: none;
text-align: center;
margin: 0px 100%;
border-radius: 60px;
height: 20px;
color: white;
font-size: 15px;
}

#NameBox {
width: 500%;
background-color: #003049;
border: none;
text-align: center;
margin: 0px 100%;
border-radius: 60px;
height: 20px;
color: white;
font-size: 15px;
}

#LastBox {
width: 500%;
background-color: #003049;
border: none;
text-align: center;
margin: 0px 100%;
border-radius: 60px;
height: 20px;
color: white;
font-size: 15px;
}

.Box2 {
width: 8%;
border: 3px solid #003049;
padding: 5px 50% 5px 0px;
margin: 0px 20%;
background-color: #F77F00;
border-radius: 20px;
}




/* DISPLAY BLOCK */
.YesBtn {
float: left;
width: 100%;
margin: 0px 0px 0px 0px;
}

/* YES BUTTON */
.Button1 {
float: left;
border: 3px solid #003049;
width: 29%;
margin: 0px 15%;
padding: 40px 0%;
border-radius: 65px;
text-align: center;
background-color: #F77F00;
}

.Button1:hover {
background-color: white;
}

#Yes {
padding: 0px;
margin: 0px;
font-size: 25px;
color: #003049;
font-family: 'Inika', serif;

}

#Btn1 {
max-width: 100%;
max-height: 100%;
object-fit: cover;
}

/* NO BUTTON */
.Button2 {
float: left;
border: 3px solid #003049;
width: 29%;
border-radius: 65px;
padding: 40px 0%;
text-align: center;
background-color: #F77F00;
}

.Button2:hover {
background-color: white;
}

#No {
padding: 0px;
margin: 0px;
font-size: 25px;
color: #003049;
font-family: 'Inika', serif;

}




/* COMMENT SECTION */
.Submit2 {
border: 3px solid #F77F00;
width: 40%;
margin: 225px 30% 55px 33%;
padding: 30px 0%;
border-radius: 50px;
background-color: #003049;
}

.Submit2:hover {
background-color: white;
}

#Submit:hover {
color: #003049;
}

#Submit {
margin: 0px;
text-align: center;
font-family: 'Inika', serif;
color: #F77F00;
font-size: 30px;

}

/* WHAT TO DO ABOUT WEBSITE
MAKE WIDTH OF COLUMNS THE SAME  AT BREAKPOINTS 
UNTIL YOU SPLIT THE COLUMNS IN X X
							   X X
Make breakpoints different

*/

@media screen and (min-width: 460px) {

.Button1 {
}

.Button2 {
}

}


@media screen and (min-width: 585px) {
/* Contact Button */
#Contact {
text-align: center;
font-size: 25px;
}

/* First Name */
#Fname {
margin: 0px 0% 0px 37%;
font-size: 25px;
}


/* Last Name */
#LName {
margin: 0px 0% 0px 37%;
font-size: 25px;

}

/* Email */
#Email2 {
margin: 0px 0% 0px 37%;
font-size: 25px;

}

/* Phone */
#Phone {
margin: 0px 0% 0px 39%;
font-size: 25px;

}

#Question {
margin: 75px 10% 0px 25%;
font-size: 25px;
}

#Comment2 {
text-align: center;
}

/* Div for Names */
.Box {
width: 8%;
border: 3px solid #003049;
padding: 10px 40% 10px 0px;
margin: 20px 20%;
background-color: #F77F00;
border-radius: 20px;
}

/* Copy text from above and change from there*/
.Box2 {
width: 8%;
border: 3px solid #003049;
padding: 10px 40% 10px 0px;
margin: 20px 20%;
background-color: #F77F00;
border-radius: 20px;
}

#EmailBox {
width: 400%;
height: 30px;
font-size: 20px;
}

#PhoneBox {
width: 400%;
height: 30px;
font-size: 20px;
}

#NameBox {
width: 400%;
height: 30px;
font-size: 20px;
}

#LastBox {
width: 400%;
height: 30px;
font-size: 20px;
}


/* DISPLAY BLOCK */
.YesBtn {
float: left;
width: 100%;
margin: 0px 0px 0px 0px;
}

/* YES BUTTON */
.Button1 {
float: left;
border: 3px solid #003049;
width: 22%;
margin: 0px 15%;
border-radius: 65px;
width: 20%;
}



/* NO BUTTON */
.Button2 {
float: left;
border: 3px solid #003049;
width: 20%;
border-radius: 65px;
padding: 40px 0%;
}


/* COMMENT SECTION */
.Submit2 {
border: 3px solid #F77F00;
width: 40%;
margin: 225px 30% 55px 30%;
padding: 30px 0%;
border-radius: 50px;
}


}







@media screen and (min-width: 650px) {

#Contact {
font-size: 30px;
}

.Button1 {
border-radius: 100px;
width: 25%;
}

#Yes {
font-size: 50px
}

.Button2 {
border-radius: 100px;
width: 25%;
}

#No {
font-size: 50px;
}

#Question {
margin: 75px 10% 0px 33%;
font-size: 30px;
}


.Submit2 {
border: 3px solid #F77F00;
width: 40%;
margin: 275px 30% 55px 30%;
padding: 30px 0%;
border-radius: 50px;
}


}

@media screen and (min-width: 757px) {
.Button1 {
border-radius: 65px;
width: 23%;
border-radius: 120px;
padding: 50px 0px;

}
.Button2 {
border-radius: 100px;
width: 23%;
padding: 50px 0px;
}

#Submit {
font-size: 40px;
}

.Box {
width: 8%;
border: 3px solid #003049;
padding: 10px 40% 10px 0px;
margin: 20px 20%;
background-color: #F77F00;
border-radius: 20px;
}

.Box2 {
width: 8%;
border: 3px solid #003049;
padding: 10px 40% 10px 0px;
margin: 20px 20%;
background-color: #F77F00;
border-radius: 20px;
}

#EmailBox {
height: 20px;
font-size: 15px;
}

#PhoneBox {
height: 20px;
font-size: 15px;
}

#NameBox {
height: 20px;
font-size: 15px;
}

#LastBox {
height: 20px;
font-size: 15px;
}

/* FIRST NAME AND LAST NAME */
.Upper {
margin: 0px 0% 0px 0%;
width: 50%;
float: left;
}


/* EMAIL AND PHONE */
.Lower {
margin: 0px 0% 0px 0%;
width: 50%;
float: left;
margin-bottom: 100px;
}


.YesNo {

}
/* First Name */
#Fname {
margin: 0px 0% 0px 26%;

}


/* Last Name */
#LName {
margin: 0px 0% 0px 26%;
}

/* Email */
#Email2 {
margin: 0px 0% 0px 26%;
}

/* Phone */
#Phone {
margin: 0px 0% 0px 26%;
}

.Submit2 {
margin-top: 60px;
border: 3px solid #F77F00;
width: 35%;
margin: 275px 30% 55px 30%;
padding: 35px 0%;
border-radius: 50px;
}


}



@media screen and (min-width: 842px) {

#Contact {
font-size: 40px;
}

.Button1 {
border-radius: 65px;
width: 22%;
border-radius: 120px;
padding: 60px 0px;
margin: 0px 20%;



}
.Button2 {
border-radius: 100px;
width: 22%;
padding: 60px 0px;

}


#Question {
margin: 75px 10% 0px 30%;
font-size: 38px;
}


}

@media screen and (min-width: 927px) {
.Button1 {
border-radius: 65px;
width: 21%;
padding: 60px 0%;
border-radius: 120px;
margin: 0px 20%;

}
.Button2 {
border-radius: 100px;
width: 21%;
padding: 60px 0%;
margin: 0px 5%;
}

.Submit2 {
border: 3px solid #F77F00;
width: 30%;
margin: 275px 33% 55px 35%;
padding: 35px 0%;
border-radius: 50px;
}

#Submit {
font-size: 50px;
}

#EmailBox {
height: 30px;
font-size: 20px;
}

#PhoneBox {
height: 30px;
font-size: 20px;
}

#NameBox {
height: 30px;
font-size: 20px;
}

#LastBox {
height: 30px;
font-size: 20px;
}

}


@media screen and (min-width: 988px) {
.Button1 {
border-radius: 65px;
width: 19%;
padding: 60px 0%;
border-radius: 120px;

}
.Button2 {
border-radius: 100px;
width: 19%;
padding: 60px 0%;
}

.Box {
width: 8%;
border: 3px solid #003049;
width: 3%;
padding: 20px 16%;
margin: 0px 15%;
}

.Box {
width: 8%;
border: 3px solid #003049;
padding: 10px 40% 10px 0px;
margin: 20px 20%;
background-color: #F77F00;
border-radius: 20px;
}

.Box2 {
width: 8%;
border: 3px solid #003049;
padding: 10px 40% 10px 0px;
margin: 20px 20%;
background-color: #F77F00;
border-radius: 20px;
}
#EmailBox {
height: 30px;
}

}








